<p style='color:#bbb;font-family:arial;line-height:1.6em'>
"Qwyn it is quite alright. Please come in." you call out, "Very good my lord." said Qwyn. "As much as the death of your beloved father grieves me.
There are matters of importance that need to be discussed." The old man shuffles into the chamber. The clicking of his cane echoes into the hall. Qwyn Corbert has been your 
family's loyal advisor since the days of your grand father Owin the First. Lending his wisdom to the Almasy family through the years. Qwyn's loyalty has always been to the 
Lord Almasy and you expect nothing less from him as far as you're concern. 

<br/><br/>

However...you find it mildly amusing, between sips of wine, that your perception of Qwyn, has always been that of an tired old man. Tired...but brilliant, trustworthy and loyal. 
As a child you recall the numerous meetings your father held with his vassals. Meetings of the sort that do not concern children of your age. You remember the echoes 
coming from the ante chamber. The voices of several men in deep discussion. And how you, by curiosity alone, sit by the large oak doors and play the silent 
observer.

<br/><br/>

And there, by your father's side sits old man Qwyn. Listening intently to one lord's musings while scribbling furiously on parchment. That furrow brow look of his when he is 
in deep thought. It amazes you how the old man can juggle so many tasks at the same time. You surmise that is why Qwyn is where he is in your family's affairs. And that is why 
you'll need his help now more than ever if you are to succeed and bring the family name back into honor.

</p>
<div style="height:20px"></div>
<a class="btn btn-primary btn-large next" href="#/oath">Next</a>
<!--
<a class="btn btn-primary btn-large next" href="#/briefing_command">
I would like to be brought up to speed regarding Vogelstead and whatever affairs my father has left unfinished.
</a>
<br/><br/>
<a class="btn btn-primary btn-large next" href="#/briefing_current_events">What's the current political climate of the kingdom?</a>
<br/><br/>
<a class="btn btn-primary btn-large next" href="#/briefing_history">As the new Lord Almasy I would like to review my family history.</a>
-->
