<div class="row">
    <div class="col-6 col-sm-4 col-lg-4 well">
        <p class="text-info game-msg">
        <ul id="notification"></ul>
        <div id="notifyGradient"></div> 
        </p>
    </div>
    <div class="col-6 col-sm-4 col-lg-4">
        <a class="btn btn-primary collect" href="#">collect</a>
        <br/><br/>
        <a class="btn btn-primary collect" href="#">collect</a> 
        <br/><br/>
        <a class="btn btn-primary collect" href="#">collect</a>
    </div>
</div>
