<div id="game"> 
    <a class="btn btn-primary collect" href="#">collect</a>
    <br/><br/>
    <a class="btn btn-primary collect" href="#">collect</a> 
    <br/><br/>
    <a class="btn btn-primary collect" href="#">collect</a>
</div>
