<div class="subnav"> 
<!--
    <ul class=""> 
        <li><a href="#game" nav switch="manor">Manor</a></li>
        <li><a href="#vogelstead" nav switch="vogel">Vogelstead</a></li>

    </ul>
-->

<button class="btn btn-default" type="button" show-classifier>Process</button>
</div>

<div class="row"> 
    <gameview> 
        <div class="col-md-3 manor" ng-controller="GameCtrl"> 
            <h4>Notifications</h4>
            <div class="well">
                <ul id="notification" class="list-unstyled">
                    <li>Mathew</li> 
                </ul>
            </div>
            <h4>Anomaly List</h4>
            <visitor>
                <div ng-show="person" class="well">
                    <button type="button" class="close badge" aria-hidden="true" ng-click="close()" close-dialog>x</button>
                    <h4>{{person.name}} says...</h4>
                    <p>{{person.request}}</p>
                    <div id="dialog"></div>
                    <button class="btn btn-xs btn-primary" ng-click="inquire()">Inquire</button>
                    <button class="btn btn-xs btn-success">Accept</button>
                    <button class="btn btn-xs btn-danger">Reject</button>
                </div>

                <div ng-repeat="visitor in visitors" class="panel panel-default" anomalies style="z-index:1000">
                    <div class="panel-heading" anomaly-name="{{visitor.name}}">{{visitor.name}}</div>
                    <div class="panel-body"><a href="#" ng-click="talk(visitor.name)" speak>process</a></div>
                    <!--<a href="#" ng-click="reject()" reject>reject...</a>-->
                </div> 

            </visitor>
        </div>
    </gameview>
    <h4>Work Area</h4>
    <!-- 
    <div class="col-md-9 well">
        <div class="col-md-3">
            Category
            <select name="category" class="form-control">
                <option>Safe</option> 
                <option>Euclid</option> 
                <option>Keter</option> 
                <option>Anomalous</option> 
            </select> 
        </div>
        <div class="col-md-4"> 
            Containment Procedure
            <select name="containment" class="form-control">
                <option>Anomalous</option> 
                <option>Anomalous</option> 
                <option>Anomalous</option> 
                <option>Anomalous</option> 
            </select> 
        </div>
        <div class="col-md-4"> 
            Containment Procedure
            <select name="containment" class="form-control">
                <option>Anomalous</option> 
                <option>Anomalous</option> 
                <option>Anomalous</option> 
                <option>Anomalous</option> 
            </select> 
        </div>
    </div>
    -->

    <dropzone class="col-md-9 jumbotron">
        <center>drop file here</center>
    </dropzone>
</div>

        <!-- 
        -->
       
