<div class="row">
    <div class="col-6 col-sm-4 col-lg-4">
        <p class="text-info">Once a upon a time</p>
    </div>
    <div class="col-6 col-sm-4 col-lg-4">
        <a class="btn btn-primary collect" href="#">collect</a>
        <br/><br/>
        <a class="btn btn-primary collect" href="#">collect</a> 
        <br/><br/>
        <a class="btn btn-primary collect" href="#">collect</a>
    </div>
</div>
