<p style='color:#bbb;font-family:arial;line-height:1.6em'>
The cackling of the fire is a source of comfort to you. You watch lazily as the flames dance in the fireplace, wine in hand, you take two quick sips. The drink 
warms your entire body. How many glasses has it been since hearing the news of your succession to Lord Almasy of Vogelstead? The only child of Lord Owin Almasy and Lady 
Margeary Yonella, making you the sole heir to the Almasy estate and holdings. 

<br/><br/>

Your mother, died bringing you into this world. Your father, never a man to reveal his emotions, 
has put his grief aside and raised you into the man you are now. Your years of tutelage under his watchful gaze has taught you the responsiblity of being a lord and the 
subtle intricracies of politics in the land. Yes the years have been long and strict. But you thank the gods for providing a strong patriarchal figure in your life. 

<br/><br/>

The low rumble of thunder can be heard in the distance and the gentle patter of rain can be heard beside the manor window. You slowly look up to take in the family crest 
situated above the fire place. Two black bastard swords forming a cross against a blue and red background. The Almasy family crest, proudly worn by your ancestors for several
generations, harking back to the days of your founding father Lord Selmen Almasy, the first Lord of the Lower Chamber. The crest has been a symbol of your family's sense of 
honor and steadfast loyalty to the Crown.

<br/><br/>

The low roar of lightning interrupts your thoughts slightly and the gentle patter begins to get heavier. You sit up to fill your glass with more wine when a sudden knock 
emanates from the heavy oak door. "My Lord...I hope I am not disturbing you. May I please come in?", the familiar voice of your family advisor, Qwyn Corbert.
</p>
<div style="height:20px"></div>
<a class="btn btn-primary btn-large next" href="#/comein">Invite him in...</a>
