<p style='color:#bbb;font-family:arial;line-height:1.6em'>
"Very good my Lord", smiles Qwyn.
</p>

<div style="height:400px"></div>

<a class="btn btn-primary btn-large next" href="#/fin_oath">
Conclude ceremony.
</a>
