<p style='color:#bbb;font-family:arial;line-height:1.6em'>
"My Lord Almasy." said the old man. He bows his head slightly while resting both of his hands on his cane. After which he looks up to face you with his piercing blue eyes. 
Furrow brow look. He clears his throat and continues. "I would like to formally congratulate you on your recent succession. An Almasy must alway remain here at 
Vogelstead. Since the days of Lord Selmen it has always been your family's tradition to forgo the formal Nomerian ceremony when one takes up the title of Lord. Instead a 
simple oath is to be made in the presence of the family advisor and the ritual blood letting to be made on the family tome."

<br/><br/>

He reaches into his large pouch and produces the Almasy family tome. A very large and very old tome containing the record of all the Lords that came before you. He then pulls out
a sheathed dagger and hands it to you. You grasp the dagger and feel it's weight against your hand. You grip the haft, pull it out of it's sheath, you take a minute to 
admire it's elegance. 

<br/><br/>

The blade was christened Heartsbane and it's history can be traced back to your great ancestor and house founder Lord Selmen Almasy, the Royal Assassin. It is said that King
Mowen, the reigning monarch at the time, elevated Selmen Almasy to lordship, granting him lands and titles due to his involvement in helping Nomeria conquer the fallen kingdom
of Losolto. The fall of Losolto ushered in the Age of the Rose, the beginning of the Nomerian empire. Lord Selmen's contribution did not end there. He was also rumored to have founded the secret assassin guild, the Order of the Crimson Blades. A name that you vaguely remember, it is a topic worth discussing with Qwyn when the bloodletting is over. 
<br/><br/>

Heartsbane remains in your hand.

<br/><br/>

You can say Heartsbane has helped shape Nomeria to what it is today. The blade has cut a swatch in history, felling Nomeria's enemies and keeping the peace of the land. And now,
at this very moment...Heartsbane is yours to weild. You grip it's haft tightly, a sense of determination filling your heart, you are starting to realize what it is to be Lord
of House Almasy. Reality starts to settle in and a fear engulfs your heart. The weight of lordship is palpable, your legs wobble, and your vision blurs. Your mouth runs dry. 
You suddenly want to run away from all this. Doubt starts to settle in, do you have what it takes to lead this house? 

<br/><br/>

"My Lord...are ready to take your oath?" asks Qwyn. His question jolts you back into the moment, your world stabilizes. "Yes I...I am ready to take my oath Qwyn."

<br/><br/>

"It is no easy task...to be Lord Almasy of Vogelstead. You've inherited your father's title and the responsiblities that comes with it. It your duty to take care of your people.
To take care of your vassals and to be loyal to the crown. Now take Heartsbane."

<br/><br/>

You press the blade toward the palm of your hand. The blade is cold, it doesn't care whose blood it spills, as long as it's blood. There are names, titles, families, wealth, power and influence. Yet the blade does care for these things. It only exists for one purpose. To spill blood, to kill...to do what it was designed to do. Of course a blade 
is nothing more than a sharp piece of metal without the proper hand to guide it. A blade without a hand has no purpose and a hand without a purpose to fulfill has no place
in this world. You start to realize things...

<br/><br/>

Droplets of blood fall on the tome where you name is written. Lord Seifen Almasy, son of Owin and Margeary, Lord Paramount of Vogelstead, Lord Assassin of the Crimson Blades.  
<br/><br/>

Interesting times ahead.

<br/><br/>

Clearing his throat, "Do you remember your family's words?" asks Qwyn.

</p>
<div style="height:20px"></div>

<a class="btn btn-primary btn-large next" href="#/oath_conclusion">
Death is the only finality.
</a>

<br/><br/>

<a class="btn btn-primary btn-large next" href="#/oath_conclusion">
Our blades cut deep.
</a>

<br/><br/>

<a class="btn btn-primary btn-large next" href="#/oath_conclusion">
The shining in the dark.
</a>
